<h1>Login</h1>
<form method="POST">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="login" />
</form>

<p>not registerd yet?</p>
<a href="{% url 'accounts:register' %}">Register Here</a>
