<html>
  <h1>Welcome Admin!</h1>
  <a href="{% url 'myapp:application_create' %}">Add New App</a>
  <br />
  <a href="{% url 'accounts:logout' %}">Logout</a>
  <br>
  <h3>Application List</h3>
  {% for app in apps %}
    SN: {{ forloop.counter }}
    <br>
    Name: {{ app.name }}
    <br>
    Url: <a href="{{ app.url }}">{{ app.url }}</a>
    <br>
    Category: {{ app.get_category_display }}
    <br>
    Points: {{ app.points }}
    <hr>
  {% endfor %}
</html>
