<html>
  <h1>Welcome!</h1>
  <a href="{% url 'accounts:register' %}">User Registration</a>
  <br />
  <a href="{% url 'accounts:login' %}">User Login</a>
  <br />
  <a href="{% url 'accounts:admin_login' %}">Admin Login</a>
</html>
