<html>
    <a href="{% url 'myapp:user_home' %}"><< Home</a>
    <br><br>
    <p>Name: {{ app.name }}</p>
    <p>Url: <a href="{{ app.url }}">{{ app.url }}</a></p>
    <p>Points: {{ app.points }}</p>
    <p>Upload screenshot to claim points.</p>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <br>
        <input type="submit" value="Upload" />
    </form>
</html>
