<html>
    <a href="{% url 'myapp:user_home' %}"><< Home</a>
    <h1>Claimed tasks</h1>
    {% for task in tasks %}
        SN: {{ forloop.counter }}
        <br>
        App Name: {{ task.application.name }}
        <br>
        App Url: <a href="{{ task.application.url }}">{{ task.application.url }}</a>
        <br>
        Points Obtained: {{ task.application.points }}
        <br>
        ScreenShot Uploaded: <a href="{{ task.image.url}}">ScreenShot</a>
        <hr>
        {% empty %}
        <p>Sorry, no tasks claimed till now</p>  
    {% endfor %}    
</html>
