<html>
  <h1>Hello {{ user.username }}!</h1>
  <a href="{% url 'myapp:user_profile' %}">Profile</a>
  <br />
  <a href="{% url 'myapp:user_points' %}">Points</a>
  <br />
  <a href="{% url 'myapp:task_claimed' %}">Tasks</a>
  <br>
  <a href="{% url 'accounts:logout' %}">Logout</a>
  <br />
  <h1>Applications to claim</h1>
  {% for app in apps %}
      SN: {{ forloop.counter }}
      <br>
      Name: {{ app.name }}
      <br>
      Url: <a href="{{ app.url }}">{{ app.url }}</a>
      <br>
      Category: {{ app.get_category_display }}
      <br>
      Points: {{ app.points }}
      <br>
      <a href="{% url 'myapp:task_create' app.id %}">View in Detail</a>
      <hr>
      {% empty %}
      <p>Sorry, no Apps left to claim</p>
  {% endfor %}
</html>
