<html>
  <a href="{% url 'myapp:user_home' %}"><< Home</a>
  <p>Username: {{ user.username }}</p>
  <p>First Name: {{ user.first_name }}</p>
  <p>Last Name: {{ user.last_name }}</p>
  <p>Email: {{ user.email }}</p>
</html>
