<html>
  <a href="{% url 'myapp:user_home' %}"><< Home</a>
  <br>
  <h1>Points Earned</h1>
  {% if points != 0 %}
  <p>Congrats {{user.username}}! You have total {{points}} points.</p>
  {% else %}
  <p>Sorry {{user.username}} You have {{points}} points.</p>
  {% endif %}
  </html>
